<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.ipilk_alaus_vaziuojam_i_bara.Social_tap">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="25" />
	<application android:allowBackup="true" android:label="@string/app_name" android:theme="@style/MyTheme"></application>
</manifest>